
*,
*::after,
*::before {
    margin:0;
    padding: 0;
    box-sizing: inherit;
}

html{
    // This defines what 1rem is
    font-size: 62.5%; /* it means font-size 10px if user doesnt change the default font size (16px) */
}

body{
    box-sizing: border-box;
}